* {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  box-sizing: border-box !important;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
  background: #fff;
  color: #555;
  line-height: 1.5;
  background-color: #aee2e8 !important;
}
/* App */
.main-container{
  display: flex !important;
  flex-direction: column !important;
  margin: auto !important;
  border-radius: 5px !important;
  font-size: 1em !important;
  text-align: left !important;
  min-width: 300px !important;
}

/* Home */
.home-container {
  height: 100% !important;
  width: 100% !important;
}

.navbar {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: flex-end !important;
  letter-spacing: 0.04rem !important;
  margin: 0px 15px !important;
}

img {
  width: 15% !important;
  max-width: 20% !important;
  max-height: 100px !important;
  margin: .5vw;
}

a:-webkit-any-link {
  color: black !important;
  cursor: pointer !important;
  text-decoration: none !important;
  justify-content: space-around !important;
  margin-right: 20px !important;
}

.pageOptions{
  display: flex !important;
  justify-content: space-around !important;
  margin-top: -40px !important;
}

.home-footer {
  /* position: absolute !important; */
  bottom: 0 !important;
  width: 100% !important;
}

.app-name{
  padding-right: 3px !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 800 !important;
  font-size: 2.5rem !important;
  letter-spacing: 0.04rem !important;
  text-transform: lowercase !important;
  margin: 0px 15px !important;
  text-align: left !important;
  color: white !important;
}

.app-phone-image{
  width: 91vw !important;
  display:block !important;
  height: auto !important;
}

.footer-text{
  text-align: center !important;
}

.heart{
  color: white !important;
  font-size:150% !important;
}

/* Content */
.image-container{
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  flex-flow: row wrap !important;
}


/* User Page */
.userPage {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  max-width: 80% !important;
  padding: 80px 5% 0 !important;
}

/* Create */
.body-form{
  margin-left: 21% !important;
}
.body-textarea {
  color: #555;
  background: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  font-size:14px;
  overflow: auto;
  min-height: 200px;
  border: 1px solid #e1e1e2;
  border-radius: 5px;
  border: none;
  width: 97%;
  padding: 30px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 4px 10px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 4px 10px 0 rgba(0,0,0,.2);
  margin: 35px 50px 35px 50px;
}

textarea:focus {
  outline:3px solid rgba(0,0,0,.05);
}

textarea::-webkit-input-placeholder {
  color:#999;
}

textarea:-ms-input-placeholder {
  color:#999;
}

textarea::-ms-input-placeholder {
  color:#999;
}

textarea::placeholder {
  color:#999;
  opacity: 0.4;
  line-height: 1.9em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

button {
  /* display: inline-block;
  position: absolute;
  right: 16px; */
  bottom: 16px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 20px !important;
}

.post-button {
  float: right !important;
  width: 44px !important;
  height: 44px !important;
  background-color: #68DBF6 !important;
  border-color: #268ba3 !important;
  cursor: pointer !important;
  margin: 1px !important;
  position: relative !important;
  right: -25px !important;
  top: -90px !important;
}

.post-button:hover{
  color: #bbb !important;
  border-color: #bbb !important;
  background: #268ba3 !important;
}

/* Feed */
.feed-list-container {
  display: flex !important;
  width: 80% !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  margin-top: 40px !important;
  background: #eff3f9 !important;
  border-radius: 5px !important;
  margin-left: 23% !important;
}

.feed-list-item {
  display: block;
  margin-bottom: 20px;
  margin-left: 10px;
}

.date-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-left: 10px;
}

.post-time-text{
  color: #217186;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

.delete{
  float: right !important;
  color: #aaa !important;
  background: #eff3f9 !important;
  right: 1px !important;
  top: 65px !important;
  border: none !important;
}
.delete:hover  {
  color: #bbb !important;
  border-color: #bbb !important;
  background: #268ba3 !important;
}

icon{
  color:#217186 !important;
}

/* Responsive */
@media only screen and (max-width:430px) {
  
  .post-button,
  .delete,
  button,
  .body-textarea{
    min-height:48px;
  }

  .main-container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin:auto;
    font-size:1em;
    text-align:left;
    min-width:300px;
  }
}
